@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-gold-gradient {
    @apply bg-gradient-to-r from-yellow-400 to-yellow-600 bg-clip-text text-transparent;
  }
  .text-blue-gradient {
    @apply bg-gradient-to-r from-blue-400 to-blue-600 bg-clip-text text-transparent;
  }
}